header{
  background-color: white;
  color: black;
  padding: 50px
}
nav{
  background-color: black;
  color: gold;
  padding: 25px
}
nav ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline-block;
  margin-right: 30px
}
footer{
  background-color: black;
  color: gold;
  text-align: center;
}